/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
//Import bootstrap-sprockets
@import "bootstrap-sprockets";
// Import yeti variables
@import "bootswatch/yeti/variables";
// Then bootstrap itself
@import "bootstrap";
// And finally bootswatch style itself
@import "bootswatch/yeti/bootswatch";

$blue: #007196;
$red: #F04124;
$grey: #fafafa;

.card {
  font-size: 36px;
  min-height: 90px;
}

.card.blue {
  background: repeating-linear-gradient(
    45deg,
    $grey,
    $grey 10px,
    rgba( lighten( $blue, 20%), .25 ) 10px,
    rgba( $blue, .25 ) 20px
  );
}

.card.red {
  background: repeating-linear-gradient(
    45deg,
    $grey,
    $grey 10px,
    rgba( lighten( $red, 20%), .25 ) 10px,
    rgba( $red, .25 ) 20px
  );
}

.covered {
  background-color: $blue;
}

.progress {
  height: 25px;
}    

.example-enter {
  -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.example-enter.example-enter-active {
  -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.example-leave {
  -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.example-leave.example-leave-active {
  -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.example-appear {
  @extend .example-enter;
}

.example-appear.example-appear-active {
  @extend .example-enter.example-enter-active;
}


